aiohttp==3.9.5
aiosignal==1.3.1
aiostream==0.6.1
amqp==5.2.0
annotated-types==0.7.0
anyio==4.4.0
appdirs==1.4.4
arandr==0.1.11
arrow==1.3.0
asgiref==3.7.2
async-timeout==4.0.3
atomicwrites==1.4.1
attrs==23.2.1.dev0
autobahn==23.6.2
autocommand==2.2.2
Automat==22.10.0
Babel==2.14.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
billiard==4.2.0
binaryornot==0.4.4
blessed==1.20.0
boolean.py==4.0
Brlapi==0.8.5
Brotli==1.1.0
btrfsutil==6.8.1
build==1.2.1
CacheControl==0.14.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-log==0.4.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==23.10.0
contourpy==1.2.1
coverage==7.5.1
cryptography==42.0.6
cssselect==1.2.0
cycler==0.12.1
dbus-python==1.3.2
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.8
distro==1.9.0
Django==4.2.11
django-allauth==0.63.2
django-environ==0.11.2
django-extensions==3.2.3
django-filter==24.2
django-guardian==2.4.0
django-picklefield==3.2
djangorestframework==3.15.1
docopt==0.6.2
docutils==0.21.2
editables==0.5
evdev==1.7.0
fastjsonschema==2.19.1
feedparser==6.0.11
filelock==3.13.3
fonttools==4.53.0
frozenlist==1.4.1
fuzzywuzzy==0.18.0
gitdb==4.0.11
GitPython==3.1.42
gufw==24.4.0
gunicorn==22.0.0
h11==0.14.0
hatch==1.10.0
hatchling==1.24.2
hiredis==2.3.2
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
humanfriendly==10.0
hyperlink==21.0.0
icalendar==5.0.12
idna==3.6
img2pdf==0.5.1
importlib_resources==6.4.0
incremental==22.10.0
inflect==7.2.1
iniconfig==2.0.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==4.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.0
jeepney==0.8.0
Jinja2==3.1.4
joblib==1.3.2
keyring==25.2.0
keyutils==0.6
kiwisolver==1.4.5
kombu==5.3.5
lensfun==0.3.4
Levenshtein==0.25.0
libtorrent==2.0.10
license-expression==30.3.1.dev0+gc20b3f6.d20240601
lightdm-gtk-greeter-settings==1.2.3
lit==17.0.6.dev0
lockfile==0.12.2
louis==3.29.0
lxml==5.2.2
lxml_html_clean==0.1.1
Mako==1.3.3.dev0
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mdurl==0.1.2
menulibre==2.4.0
meson==1.4.1
mistune==3.0.2
moddb==0.11.0
more-itertools==10.2.0
msgpack==1.0.5
mugshot==0.4.3
multidict==6.0.5
mutagen==1.47.0
netifaces==0.11.0
netsnmp-python==1.0a1
nftables==0.1
nltk==3.8.1
npyscreen==4.10.5
numpy==1.26.4
oauthlib==3.2.2
ordered-set==4.1.0
packaging==24.0
pacman_mirrors==4.24.0
pandas==1.5.3
pandocfilters==1.5.1
passlib==1.7.4
pathspec==0.12.1
pdfminer.six==0.0.0
pexpect==4.9.0
pikepdf==9.0.0
pillow==10.3.0
platformdirs==4.2.0
pluggy==1.5.0
ply==3.11
pooch==1.8.1
praw==7.7.1
prawcore==2.4.0
prompt_toolkit==3.0.45
psutil==5.9.8
psycopg==3.1.17
psycopg2==2.9.9
ptyprocess==0.7.0
pwquality==1.4.5
pyasn1==0.5.1
pyasn1_modules==0.3.0
pybind11==2.12.0
pycairo==1.26.0
pycparser==2.22
pydantic==2.7.2
pydantic_core==2.18.3
pydbus==0.6.0
pyfiglet==1.0.2
pygame==2.5.2
Pygments==2.17.2
PyGObject==3.48.2
pyinotify==0.9.6
PyJWT==2.8.0
PyOpenGL==3.1.7
pyOpenSSL==24.1.0
pypandoc==1.13
pyparsing==3.1.2
pyproject_hooks==1.1.0
PyQt5==5.15.10
PyQt5_sip==12.13.0
pyrate-limiter==3.6.0
pyserial==3.5
PySide6==6.7.1
pyte==0.8.2
pytest==8.2.1
pytest-cov==4.1.0
pytest-django==4.8.0
pytest-httpx==0.30.0
pytest-timeout==2.3.1
python-dateutil==2.9.0
python-debian==0.1.49+git20240516
python-dotenv==1.0.1
python-gnupg==0.5.2
python-magic==0.4.27
python-pam==2.0.2
python-xlib==0.33
python3-openid==3.2.0
pytz==2024.1
pyxdg==0.28
PyYAML==6.0.1
qasync==0.27.1
quodlibet==4.6.0
Radicale==3.2.0
rapidfuzz==3.6.2
readability-lxml==0.8.1
redis==5.0.1
regex==2024.5.15
reportlab==4.1.0
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
reuse==3.0.2
rich==13.7.1
scikit-learn==1.5.0
scipy==1.13.1
SCons==4.7.0
scour==0.38.2
SecretStorage==3.3.3
service-identity==23.1.0
setproctitle==1.3.3
setuptools==69.0.3
setuptools-scm==8.1.0
sgmllib3k==1.0.0
shellingham==1.5.4
shiboken6==6.7.1
shiboken6-generator==6.7.1
shtab==1.7.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
sqlparse==0.4.4
systemd-python==235
TBB==0.2
termcolor==2.4.0
thefuck==3.32
threadpoolctl==3.4.0
tinycss2==1.3.0
tldr==3.2.0
tomli==2.0.1
tomli_w==1.0.0
tomlkit==0.12.5
toolz==0.12.1
toot==0.41.1
tqdm==4.66.2
trove-classifiers==2024.5.23
Twisted==24.3.0
txaio==23.1.1
typeguard==4.2.1
typing_extensions==4.12.0
tzlocal==5.2
uc-micro-py==1.0.3
udiskie==2.5.3
ufw==0.36.2
update_checker==0.18.0
urllib3==1.26.18
urwid==2.6.10
userpath==1.9.2
uvicorn==0.29.0
uvloop==0.19.0
validate-pyproject==0.16
vdirsyncer==0.19.2
vine==5.1.0
virtualenv==20.26.2
vobject==0.9.7
watchdog==2.3.0
watchgod==0.8.2
wcwidth==0.2.13
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
wheel==0.43.0
whitenoise==6.6.0
Whoosh==2.7.4
wrapt==1.16.0
wsaccel==0.6.6
yarl==1.9.4
zipp==3.18.1
zope.interface==6.3
zstandard==0.22.0
